*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav{
  height: 90px;
  background-color: #b45b35;
  width: 100%;
}
body{
  margin: 0;
  padding: 0;
}
.nav img{
  height: 70px;
  width: 90px;
}
.search{
  position: relative;
}
.search input{
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 10px 15px;
  outline: none;
  border: 0;
}
.search .icon{
  position: absolute;
  left: 2%;
  font-size: 1.5rem;
}
.cardL{
  transition: all 0.5s ease-in;
  cursor: pointer;
  height: 400px;
  position: relative;
  margin-top: 2.5rem;
}
.cardL img{
  height: 100%;
  width: 90%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.font{
  font-family: 'Almarai', sans-serif;

}
.cardL .overlay{
  background-color: rgba(0, 0, 0, .5);
  transition: all 0.5s ease-in;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  height: 100%;
  width: 90%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Almarai', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;


}
.cardL:hover .overlay{
  display: flex;
}

.card-details {
  height: 370px;
  border-radius: 20px;
  background-color: #f8f8f8;
  margin-top: 1rem;
}

.card-text-details {
  color: #555555;
  font-family: Almarai;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 49px;
}

.card-story {
  height: 300px;
  border-radius: 20px;
  background-color: #f8f8f8;
}

.card-text-title {
  color: #555555;
  font-family: Almarai;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 49px;
}

.card-text-story {
  color: #555555;
  font-family: Almarai;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
}
.img-movie {
  height: 360px;
  padding: 10px;
  border-radius: 20px;
}